discord.py
Flask
Flask-RESTful
Flask-OAuthlib
websockets
discord>=2.2.2
Flask-Migrate
mysql-connector-python
python-dotenv
openai-whisper
text-game-engine @ git+https://github.com/bghira/text-game-engine.git@main
text-game-webui @ git+https://github.com/bghira/text-game-webui.git@main
